header {
  display: flex;
  align-items: center;
  background: #eee;
  height: 3em;
  padding: 0 0.5em;
}

a {
  display: flex;
  align-items: center;
  text-decoration: inherit;
  color: inherit;
}

img {
  width: 2em;
}

span {
  padding-left: 0.3em;
  font-weight: bold;
}
