/* You can add global styles to this file, and also import other style files */

@import "../node_modules/normalize.css/normalize.css";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

input {
  border: 0.1em solid #eee;
  padding: 0.5em 1em;
  width: 100%;
}

button {
  background: #eee;
  border: 0.1em solid #eee;
  padding: 0.5em 1em;

  &:disabled {
    background: hsl(0, 0%, 95%);
    border: 0.1em solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 65%);
  }

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background: #ddd;
      border: 0.1em solid #ddd;
    }

    &:active {
      background: #ccc;
      border: 0.1em solid #ccc;
    }
  }


}
