@import "src/scss/variables.scss";

/* Customize the label (the container) */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a darker background */
.container input:checked~.checkmark {
  background-color: $primary-button-color;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark .inside {
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark .inside {
  display: flex;
}

/* Style the indicator (dot/circle) */
.container .checkmark .inside {
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  background: white;
}
